{% extends 'base.html' %}
{% block title %} signup {% endblock %}

{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mx-auto pt-4">
            <h3 class="alert alert-light border rounded ">Login Here</h3>
            <form action="/login/" method="POST">
            {% csrf_token %}

            {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            {% endif %}
                
                <div class="from-group">
                    <label for="" class="form-label">Email address</label>
                    <input type="email" value="{{value.email}}" class="form-control"  name="email" placeholder="example@gmail.com" required>
                </div>
                <div class="from-group">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control"  name="password" placeholder="********">
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" value="login" class="btn btn-info">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}